body {
  padding: 0;
  margin: 0;

  background-color: white;
}

main {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.grid-container {
  display: grid;
  align-content: center;
  gap: 1rem;
  padding: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.grid-container .destaque {
  display: flex;
  width: fit-content;
  position: absolute;
  gap: 0.5rem;
  padding: 3rem 0rem;
  z-index: 5;
  left: 11%;

  font-size: 300;
}

.grid-container .grid-item {
  position: relative;
  align-items: center;
  padding: 0.5rem;

  text-align: center;
}

.frete {
  padding: 0.5rem;

  background-color: #4caf50;
  color: white;
}

.novidade {
  padding: 0.5rem;

  background-color: #ffc422;
  color: white;
}

img {
  width: 55%;
  height: auto;

  transition:
    transform 0.3s ease-in-out,
    filter 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.35);
  filter: drop-shadow(0 0 0.3rem rgb(192, 225, 255));
  cursor: pointer;
}

button {
  display: inline-block;
  padding: 10px 24px;
  margin: 4px 2px;

  background-color: #4caf50;
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  font-size: medium;

  cursor: pointer;
  border-radius: 12px;
  transition:
    transform 0.3s ease-in-out,
    filter 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}
