.flex-container {
  font-family: "Playfair Display", sans-serif;
  font-weight: medium;
  font-style: normal;
  background-color: aliceblue;

  display: flex;
  justify-content: space-between; /* h1 on the left, nav on the right */
  align-items: center; /* vertical alignment */
  padding: 0rem 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  position: relative;
  text-decoration: none;
  color: black;
  padding: 4px 0;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 100%;
  height: 1px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav a:hover::after {
  transform: scaleX(1);
}
