.flex-container {
  font-family: "Playfair Display", sans-serif;
  font-weight: medium;
  font-style: normal;
  background-color: aliceblue;

  display: flex;
  justify-content: space-between; /* h1 on the left, nav on the right */
  align-items: center; /* vertical alignment */
  padding: 0rem 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  display: flex;
  gap: 1rem;
}

h1 {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  
}
